header {
    text-align: center;
}
h1 {
    border: 8px solid #424141;
    border-radius: 25px;
    margin: 10px 35%;
   background-color: #a4d792;
    color: #424141;
}
h3 {
    font-weight: bold;
}

.horizontal-list {
    
    list-style: none;
    padding: 5px;
    margin: auto;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    font-size: 1.2vw;
    
  }
  
 
  .horizontal-list li {
    
    border: 2px solid #424141;
    display: inline-block;
    margin: 5px 10px;
    width: 30%;
    padding: 2px; 
    text-align: center; 
    background-color: #a4d792;
    color: #424141;
    border-radius: 25px;
  }
  
 

  .guestlist {
    display: flex;
    float: right;
    width: 20%;
    border: 2px solid #424141;
    text-align: center;
    background-color: #a4d792;
    color:#424141;
    border-radius: 25px;
  }

  .the-guests {
    list-style: none;
  }

  
  .areas {
    /* border: 5px solid #424141; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75%;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 25px;
    /* background-color: #f7fdb6;; */
  }
  
  .box {
    list-style: none;
    height: 200px;
    width: 150px;
    text-align: center;
    margin: 0;
    border: 3px solid #424242;
    border-radius: 25px;
    padding: 50px;
    display: inline-block;
    background-color: #a4d792;
    color: #424141;
    
  }
  
  .horizontal-area ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    
  }
  .horizontal-area li {
    list-style: none;
    text-align: left;
  }
  
  .horizontal-area h3 {
    margin: 0;
    padding: 0;
  }
  
  .areas_and_guests {
    display: flex;
    justify-content: space-between;
  }

  footer {
    border: 1px double #424141;
    background-color: #a4d792;
    color: #424141;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
  }
  body {
    background-color: #21825c;
    color: #424141;
  }